<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netcity.module.entity.Question">
	<resultMap type="com.netcity.module.entity.QuestionEntity" id="BookResultMap">
		<result column="id" property="id" />
		<result column="type" property="type" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="selections" property="selections" />
		<result column="answer" property="answer" />
		<result column="courseId" property="courseId" />
		<result column="courseName" property="courseName" />
		<result column="createUser" property="createUser" />
		<result column="createDate" property="createDate" />
		<result column="updateUser" property="updateUser" />
		<result column="updateDate" property="updateDate" />
		<result column="required" property="required" />
		<result column="workShopId" property="workShopId" />
		<result column="departmentId" property="departmentId" />
		<result column="workShop" property="workShop" />
		<result column="department" property="department" />
	</resultMap>
	<sql id="TABLE_NAME">
		ex_question
	</sql>
	<sql id="BASE_COLUMNS">
		<trim suffixOverrides=",">
			a.id,
			a.type,
			a.title,
			a.content,
			a.selections,
			a.answer,
			a.courseId,
			a.createUser,
			a.createDate,
			a.updateUser,
			a.updateDate,
			a.required,
			a.state
		</trim>
	</sql>
	<sql id="WHERE_CLAUSE">
		<where>
			<if test="id!=null">
				and a.id = #{id}
			</if>
			<if test="state!=null">
				and a.state = #{state}
			</if>
			<if test="type!=null and type !=''">
				and a.type = #{type}
			</if>
			<if test="title!=null and title !=''">
				and a.title = #{title}
			</if>
			<if test="content!=null and content !=''">
				and a.content = #{content}
			</if>
			<if test="selections!=null and selections !=''">
				and a.selections = #{selections}
			</if>
			<if test="answer!=null and answer !=''">
				and a.answer = #{answer}
			</if>
			<if test="courseId!=null ">
				and a.courseId = #{courseId}
			</if>
			<if test="createUser!=null and createUser !=''">
				and a.createUser = #{createUser}
			</if>
			<if test="createDate!=null ">
				and a.createDate = #{createDate}
			</if>
			<if test="updateUser!=null and updateUser !=''">
				and a.updateUser = #{updateUser}
			</if>
			<if test="courseName !=null and courseName !=''">
				and b.name = #{courseName}
			</if>
			<if test="updateDate!=null ">
				and a.updateDate = #{updateDate}
			</if>
			<if test="roleId!=null">
				and exists (select 1 from ex_user_department z where roleId=#{roleId} and z.deptId=b.deptId)
			</if>
			<if test="departmentId !=null">
				and (
				c.code = #{departmentId} 
				or d.code = #{departmentId}
				or #{departmentId} = 3756
				)
			</if>
			<if test="trainId !=null">
				and f.trainId = #{trainId}
			</if>
			<if test="code !=null">
				and g.code = #{code}
			</if>
			<if test="department!=null and department!=''">
				and d.name like concat('%',#{department},'%')
			</if>
			<if test="workShop !=null and workShop !=''">
				and c.name like concat('%',#{workShop},'%')
			</if>
			<if test="postionId !=null">
				and a.courseId in (select courseId from ex_course_position where positionId = #{postionId})
			</if>
		</where>
	</sql>
	<select id="selectById" resultType="com.netcity.module.entity.QuestionEntity" parameterType="java.lang.Long">
		select
		<include refid="BASE_COLUMNS"></include>
		from
		<include refid="TABLE_NAME"></include>
		a
		where id = #{id}
	</select>
	<select id="selectByEntity" resultType="com.netcity.module.entity.QuestionEntity" parameterType="com.netcity.module.entity.QuestionEntity">
		
		<!-- select
		 id
		,type
		,title
		,content
		,selections
		,answer
		,courseId
		,createUser
		,createDate
		,updateUser
		,updateDate
		,required
		,courseName
		,workShop
		,department from( -->
		select
		<include refid="BASE_COLUMNS"></include>
		,b.name as courseName
		,c.name as workShop
		,d.name as department
		from
		<include refid="TABLE_NAME"></include>
		a
		join ex_course b on a.courseId=b.id
		join ex_department c on b.deptId=c.code
		join ex_department d on c.parentId=d.code
		<if test="trainId!=null">
		left join ex_train_course f on f.courseId=b.id
		</if>
		<if test="code!=null">
		left join ex_exam_course g on g.courseId=b.id
		</if>
		<include refid="WHERE_CLAUSE"></include>
		group by a.id
		order by a.id
		<!-- ) t -->
	</select>
	<select id="selectByCond" resultType="com.netcity.module.entity.QuestionEntity" parameterType="java.util.Map">
		select
		<include refid="BASE_COLUMNS"></include>
		from
		<include refid="TABLE_NAME"></include>
		<include refid="WHERE_CLAUSE"></include>
	</select>
	<update id="updateById" parameterType="com.netcity.module.entity.QuestionEntity">
		update
		<include refid="TABLE_NAME"></include>
		set
		<trim suffixOverrides=",">
			<if test="type !=null">
				type=#{type},
			</if>
			<if test="title !=null">
				title=#{title},
			</if>
			<if test="content !=null">
				content=#{content},
			</if>
			<if test="selections !=null">
				selections=#{selections},
			</if>
			<if test="answer !=null">
				answer=#{answer},
			</if>
			<if test="courseId !=null">
				courseId=#{courseId},
			</if>
			<if test="createUser !=null">
				createUser=#{createUser},
			</if>
			<if test="createDate !=null">
				createDate=#{createDate},
			</if>
			<if test="updateUser !=null">
				updateUser=#{updateUser},
			</if>
			<if test="updateDate !=null">
				updateDate=#{updateDate},
			</if>
			<if test="required !=null">
				required=#{required},
			</if>
		</trim>
		where id = #{id}
	</update>
	
	<delete id="deleteByIds" parameterType="java.lang.String">
		delete from
		<include refid="TABLE_NAME"></include>
		where id in (${_parameter})
	</delete>
	
	<update id="updateByIds" parameterType="com.netcity.module.entity.QuestionEntity">
		update
		<include refid="TABLE_NAME"></include>
		set state=#{state}
		where id in (${ids})
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from
		<include refid="TABLE_NAME"></include>
		where id = #{id}
	</delete>

	<insert id="insert" parameterType="com.netcity.module.entity.QuestionEntity" useGeneratedKeys="true" keyProperty="id">
		insert into
		<include refid="TABLE_NAME"></include>
		(
		type,
		title,
		content,
		selections,
		answer,
		courseId,
		createUser,
		createDate,
		required
		)
		values (
		#{type},
		#{title},
		#{content},
		#{selections},
		#{answer},
		#{courseId},
		#{createUser},
		now(),
		#{required}
		)
	</insert>
	<insert id="insertBatchOnce" parameterType="java.util.List">
		insert into
		<include refid="TABLE_NAME"></include>
		(
		type,
		title,
		content,
		selections,
		answer,
		courseId,
		createUser,
		createDate,
		required
		)
		values
		<foreach collection="list" item="i" separator=",">
		(
		#{i.type},
		#{i.title},
		#{i.content},
		#{i.selections},
		#{i.answer},
		#{i.courseId},
		#{i.createUser},
		now(),
		#{i.required}
		)
		</foreach>
	</insert>
</mapper>