<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netcity.module.entity.TrainUser">
	<resultMap type="com.netcity.module.entity.TrainUserEntity" id="BookResultMap">
		<result column="id" property="id" />
		<result column="refId" property="refId" />
		<result column="userCode" property="userCode" />
		<result column="createUser" property="createUser" />
		<result column="createDate" property="createDate" />
	</resultMap>
	<sql id="TABLE_NAME">
		ex_train_user
	</sql>
	<sql id="BASE_COLUMNS">
		<trim suffixOverrides=",">
			id,
			refId,
			userCode,
			createUser,
			createDate,
		</trim>
	</sql>
	<sql id="WHERE_CLAUSE">
		<where>
			<if test="id!=null">
				and id = #{id}
			</if>
			<if test="refId!=null ">
				and refId = #{refId}
			</if>
			<if test="userCode!=null and userCode !=''">
				and userCode = #{userCode}
			</if>
			<if test="createUser!=null and createUser !=''">
				and createUser = #{createUser}
			</if>
			<if test="createDate!=null ">
				and createDate = #{createDate}
			</if>
		</where>
	</sql>
	<select id="selectById" resultType="com.netcity.module.entity.TrainUserEntity" parameterType="java.lang.Long">
		select
		<include refid="BASE_COLUMNS"></include>
		from
		<include refid="TABLE_NAME"></include>
		where id = #{id}
	</select>
	<select id="selectByEntity" resultType="com.netcity.module.entity.TrainUserEntity" parameterType="com.netcity.module.entity.TrainUserEntity">
		select
		<include refid="BASE_COLUMNS"></include>
		from
		<include refid="TABLE_NAME"></include>
		<include refid="WHERE_CLAUSE"></include>
	</select>
	<select id="selectByCond" resultType="com.netcity.module.entity.TrainUserEntity" parameterType="java.util.Map">
		select
		<include refid="BASE_COLUMNS"></include>
		from
		<include refid="TABLE_NAME"></include>
		<include refid="WHERE_CLAUSE"></include>
	</select>
	<update id="updateById" parameterType="com.netcity.module.entity.TrainUserEntity">
		update
		<include refid="TABLE_NAME"></include>
		set
		<trim suffixOverrides=",">
			<if test="refId !=null">
				refId=#{refId},
			</if>
			<if test="userCode !=null">
				userCode=#{userCode},
			</if>
			<if test="createUser !=null">
				createUser=#{createUser},
			</if>
			<if test="createDate !=null">
				createDate=#{createDate},
			</if>
		</trim>
		where id = #{id}
	</update>
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from
		<include refid="TABLE_NAME"></include>
		where id = #{id}
	</delete>

	<insert id="insert" parameterType="com.netcity.module.entity.TrainUserEntity" useGeneratedKeys="true" keyProperty="id">
		insert into
		<include refid="TABLE_NAME"></include>
		(
		<trim suffixOverrides=","> refId,
			userCode,
			createUser,
			createDate,
		</trim>
		)
		values (
		<trim suffixOverrides=",">
			#{refId},
			#{userCode},
			#{createUser},
			now(),
		</trim>
		)
	</insert>
</mapper>