
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的信息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link href="css/mui.min.css" rel="stylesheet" />
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="css/app.css"/>
		<link href="css/css.css" rel="stylesheet" />
		<style>
			.mui-bar-nav {
				margin-bottom:0px;
			}
			span {
				white-space: normal;
			}
			
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的信息</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<div class="mui-media-body" >
							<span th:text="'工号:'+${user.usercode}"></span>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<div class="mui-media-body" >
							<span th:text="'姓名:'+${user.name}"></span>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<div class="mui-media-body" >
							<span th:text="'性别:'+${user.sex==1?'男':'女'}"></span>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<div class="mui-media-body" >
							<span th:text="'部门:'+${user.department}"></span>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<div class="mui-media-body" >
							<span th:text="'科室/车间:'+${user.workShop}"></span>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<div class="mui-media-body" >
							<span th:text="'班组:'+${user.dept}"></span>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<div class="mui-media-body" >
							<span th:text="'备注:'+${user.remark==null?'':user.remark}"></span>
						</div>
					</a>
				</li>
			</ul>
			</div>
		</div>

	</body>
	<script src="js/mui.min.js"></script>
	<script>
		mui.init({
			swipeBack:false //启用右滑关闭功能
		});
		localStorage.setItem('pageLoadOk','ok');
	</script>
</html>